/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

.github/workflows/ci-cd.yml merge=ours
src/main/java/com/airfryer/repicka/common/security/redirect/CustomAuthorizationRequestResolver.java merge=ours
src/main/java/com/airfryer/repicka/common/security/oauth2/OAuth2SuccessHandler.java merge=ours
